@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
  --cor-teclado-fundo: linear-gradient(to bottom, #f8f3ee 0%, rgb(250, 210, 157) 100%);
  --cor-tecla-fundo: #fff5ead8;
  --cor-tecla-sombra: #864300;
  --cor-tecla-texto: #ff8000;
  --cor-tecla-ativa: #ffb871;
  --cor-tecla-ativa-borda: #ff9f3f;
  --cor-tecla-ativa-sombra: #ff8000;
  --cor-luz-foco: #ff9f3f;
  --cor-h1: #b95d00;
}

body {
  align-items: center;
  background: var(--cor-fundo);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Italiana', sans-serif;
  min-height: 100vh;
  background-image: url('/aluramidi/images/10528805.jpg');
  background-size: 115%;
}

h1 {
  color: var(--cor-h1);
  margin-bottom: 20px;
  font-size: 3rem;
}

.teclado {
  display: flex;
  width:750px;
  height:350px;
  background: var(--cor-teclado-fundo);
  box-shadow: 6px 5px 0px 8px #ff8000, 10px 10px 10px #000;
  border-radius: 20px;
  gap: 10px;
  padding: 10px;
}

.tecla {
  display: flex;
  width: 120px;
  height:300px;
  background-color: var(--cor-tecla-fundo);
  border-radius: 5px;
  box-shadow: 4px 4px 3px 4px var(--cor-tecla-sombra);
  color: var(--cor-tecla-texto);
  cursor: pointer;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  justify-content: center;
  align-items: end;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--cor-tecla-ativa);
  border: 4px solid var(--cor-tecla-ativa-borda);
  box-shadow: 3px 3px 0 var(--cor-tecla-ativa-sombra) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--cor-luz-foco);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--cor-tecla-ativa-sombra) inset, 1px 1px 10px var(--cor-luz-foco);
}
