
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #ffffff;
}

.imagem_logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}
/* Index */
.background-section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-position: center center;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-size: contain;
    background-repeat: no-repeat;

}

#background1 {
    background-image: url('IMAGENS/2.png');
}

#background2 {
    background-image: url('IMAGENS/2.png');
    background-position: right center;
}
#background3{
    width: 90%;
    height: 90vh;
    margin: 40px;
    background-position: start;
    align-items:start;
    color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
}

/* header */
.menu{
    margin-right: 10px;
    box-shadow: none;
    padding: 1px 0;
    text-align: center;

}
.nav-barra{
    box-shadow: none;
    z-index: auto;
    background-color: #000000;
}

.container{
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
}
.nav-lista{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
    color: #ffffff;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
    text-decoration: none;
}

.nav-link {
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-weight: 700;
}

/* Index/ Home */
.texto{
    display: flex;
    width: 200px;
    height: 500px;
    margin-left: 300px;
    align-items: center;
    color: #000000;
    text-align: justify;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

/* DECODIFICADOR */
.textoInicial{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0px 700px 0 52px;
    border-radius: 10px;
    border-color: #000000;
  }
 
.area-texto{
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    line-height: 1.0;
}
.mensagem-texto{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.flex-container{
    display: flex;
    justify-content: space-between ;
 
}
form {
    display: flex;
    justify-content: space-between;
}
textarea {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 340px;
    
    font-size: 18px;
    background-color: #ffffff00;
    border-radius: 10px;
    border-color: #020202;
}
.botao{
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: space-between;
    margin:0 10px;
    background: #818181;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fffffffb;
}
.atencao {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    padding: 10px;
 
    line-height: 30px;
    font-family: sans-serif;
    color: rgb(255, 8, 123);
}

/* CONTATO */
.contato-container {
    display: flex;
    width: 500px;
    height: 550px;
    border: 1px solid #000000;
    border-radius: 60px;
    box-shadow: 0 0 10px #000000;
    justify-content: center;
    align-items: center;
}

.contato-form {
    display: flex;
}

.contato-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.contato-form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contato-form button:hover {
    background-color:#000000;
    
}
.text-mensagem{
    width: 250px;
    height: 80px;
}

button {
    margin:10px;
    padding: 10px;
    background-color:#8b8b8b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    .texto {
        width: auto;
        height: auto;
        margin:350px 48px 0;
        background-position: center center;
    }

    .background-section {
        width: auto;
        height: auto;
        margin: 5px;
        padding: 5px;
    }

    #background1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-image: url('IMAGENS/5081336.jpg');
        background-position: top;
    }

    #background2 {
        background-image: url('IMAGENS/Decodificador.jpg');
        flex-direction: column;
        background-position: center;
        width: 95%;
        height: auto;
    }

    #background3 {
        background-image: url('IMAGENS/3.jpg');
        flex-direction: column;
        background-position: center;
        width: auto;
        height: auto;
    }
    textarea{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        margin: 0; 
      

    }
    .menu {
        margin-right: 0;
        text-align: center;
    }

    .nav-lista {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin: 5px 0;
    }

    .textoInicial {
        margin: 5px;
        padding: 5px;
    }

    .contato-container {
        display: flex;
        flex-direction: column;
        width: 100%; 
        height: auto; 
        justify-content: start;
        padding: 12px;
    }

    .contato-container .mensagem-texto {
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
    }

    .contato-container .botao {
        display: flex;
        justify-content: center;
    }

    .contato-container button {
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 15px;
        color: #fffffffb;
    }
    footer {
        text-align: center;
        margin: 0;
    }

}